# About Dataset
## Dataset Information
This dataset contains information on default payments, demographic factors, credit data, history of payment, and bill statements of credit card clients in Taiwan from April 2005 to September 2005.

### Content
There are 25 variables:

<b>ID:</b> ID of each client <br>
<b>LIMIT_BAL:</b> Amount of given credit in NT dollars (includes individual and family/supplementary credit <br>
<b>SEX:</b> Gender (1=male, 2=female) <br>
<b>EDUCATION:</b> (1=graduate school, 2=university, 3=high school, 4=others, 5=unknown, 6=unknown) <br>
<b>MARRIAGE:</b> Marital status (1=married, 2=single, 3=others) <br>
<b>AGE:</b> Age in years <br>
<b>PAY_0:</b> Repayment status in September, 2005 (-1=pay duly, 1=payment delay for one month, 2=payment delay for two months, … 8=payment delay for eight months, 9=payment delay for nine months and above) <br>
<b>PAY_2:</b> Repayment status in August, 2005 (scale same as above) <br>
<b>PAY_3:</b> Repayment status in July, 2005 (scale same as above) <br>
<b>PAY_4:</b> Repayment status in June, 2005 (scale same as above) <br>
<b>PAY_5:</b> Repayment status in May, 2005 (scale same as above) <br>
<b>PAY_6:</b> Repayment status in April, 2005 (scale same as above) <br>
<b>BILL_AMT1:</b> Amount of bill statement in September, 2005 (NT dollar) <br>
<b>BILL_AMT2:</b> Amount of bill statement in August, 2005 (NT dollar) <br>
<b>BILL_AMT3:</b> Amount of bill statement in July, 2005 (NT dollar) <br>
<b>BILL_AMT4:</b> Amount of bill statement in June, 2005 (NT dollar) <br>
<b>BILL_AMT5:</b> Amount of bill statement in May, 2005 (NT dollar) <br>
<b>BILL_AMT6:</b> Amount of bill statement in April, 2005 (NT dollar) <br>
<b>PAY_AMT1:</b> Amount of previous payment in September, 2005 (NT dollar) <br>
<b>PAY_AMT2:</b> Amount of previous payment in August, 2005 (NT dollar) <br>
<b>PAY_AMT3:</b> Amount of previous payment in July, 2005 (NT dollar) <br>
<b>PAY_AMT4:</b> Amount of previous payment in June, 2005 (NT dollar) <br>
<b>PAY_AMT5:</b> Amount of previous payment in May, 2005 (NT dollar) <br>
<b>PAY_AMT6:</b> Amount of previous payment in April, 2005 (NT dollar) <br>
default.payment.next.month: Default payment (1=yes, 0=no) <br>

### Inspiration
Some ideas for exploration:

How does the probability of default payment vary by categories of different demographic variables?
Which variables are the strongest predictors of default payment?
Acknowledgements
Any publications based on this dataset should acknowledge the following:

Lichman, M. (2013). UCI Machine Learning Repository [http://archive.ics.uci.edu/ml]. Irvine, CA: University of California, School of Information and Computer Science.

The original dataset can be found here at the UCI Machine Learning Repository.

Data_Exploration_and_Preprocessing.ipynb

Model_Selection_and_Tuning.ipynb

Final_Model_Training_and_Evaluation.ipynb

In [10]:
import pandas as pd

In [11]:
df=pd.read_csv("UCI_Credit_Card.csv")

In [12]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [13]:
df.isnull().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default.payment.next.month    0
dtype: int64

In [14]:
X = df.drop('default.payment.next.month', axis=1)

In [16]:
y = df['default.payment.next.month']

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [20]:
from sklearn.ensemble import RandomForestClassifier

In [22]:
rf = RandomForestClassifier()

In [23]:
classifier = rf.fit(X_train, y_train)

In [35]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [25]:
predict = classifier.predict(X_test)

In [36]:
print(confusion_matrix(y_test, predict))
print(classification_report(y_test, predict))
print(accuracy_score(y_test, predict))

[[7300  442]
 [1395  763]]
              precision    recall  f1-score   support

           0       0.84      0.94      0.89      7742
           1       0.63      0.35      0.45      2158

    accuracy                           0.81      9900
   macro avg       0.74      0.65      0.67      9900
weighted avg       0.79      0.81      0.79      9900

0.8144444444444444

In [28]:
#!pip install pycaret

In [29]:

# init setup
from pycaret.classification import *
clf1 = setup(data = df, target = 'default.payment.next.month', session_id = 123)

In [30]:
best_model = compare_models()

Processing:   0%|          | 0/69 [00:00<?, ?it/s]

In [31]:
gbc = create_model('gbc')

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

In [33]:
tuned_gbc = tune_model(gbc, optimize = 'Accuracy',n_iter=20 )

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 20 candidates, totalling 200 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [34]:
df

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000.0,1,3,1,39,0,0,0,0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0
29996,29997,150000.0,1,3,2,43,-1,-1,-1,-1,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0
29997,29998,30000.0,1,2,2,37,4,3,2,-1,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1
29998,29999,80000.0,1,3,1,41,1,-1,0,0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1
29999,30000,50000.0,1,2,1,46,0,0,0,0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1